<div style="text-align: center;">
  <br>
  <br>
  <br>


  <form (ngSubmit)="onFormSubmit(movieForm)" #movieForm="ngForm">
    <div class="row" style="width: 50%;">
      <div class="form-group  col" style="margin-left:20px;">
        <label for="title">First Name</label>
        *<input [(ngModel)]="personFirstName" required #title="ngModel"

                type="text" id="title" name="title" class="form-control">




      </div>



      <div class="form-group col" >
        <label for="titleBook">Last Name</label>
        *<input [(ngModel)]="personLastName" required #title="ngModel"

                type="text" id="titleBook" name="titleBook" class="form-control">


      </div>

      <div>

        <button type="submit" class="btn btn-secondary" style="width: 100%; height: 80%;" [disabled]="!movieForm.valid">Add User</button>
      </div>
      <div>

        <button (click)="getAutors()"  class="btn btn-secondary" style="width: 100%; height: 80%;" [hidden]="true">Get Users</button>
      </div>


    </div>
  </form>

  <!--
  <div>
    <form>
      Enter First Name:  <input type = "text" [(ngModel)] = personFirstName name = "personFirstName"/><br/>
      Enter Last Name: <input type = "text" [(ngModel)] = personLastName name = "personLastName"/><br/>
      <button (click)="addPerson()">Add Person</button>
    </form>
  </div>
-->







  <div>

    <table align="center" id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">

      <thead>
      <tr>
        <th>ID</th>
        <th>First NAME</th>
        <th>LAST NAME</th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{person.idUser}}</td>
        <td>{{person.firstName}}</td>
        <td>
          {{person.lastName}}
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
